In [ ]:
import seaborn as sns
import matplotlib as plt
import pandas as pd
import re

sns.set(color_codes=True)
sns.set(font_scale=True)
sns.set_color_codes()

In [7]:
dbcan_results = pd.read_csv("dbcan_results.txt",delimiter="\t")

   Gene ID                        HMMER    Hotpep DIAMOND Signalp  #ofTools
0   1172_g                  CE4(77-202)       CE4     CE4       N         3
1   1248_g  CE14(487-592)+GT4(905-1054)  CE14+GT4     GT4       N         3
2   1303_g                AA1_3(64-379)         N       N       N         1
3   1335_g                 GT4(494-645)         N     GT4       N         2
4   1431_g  GT2_Glyco_tranf_2_3(34-298)       GT2     GT2       N         3
..     ...                          ...       ...     ...     ...       ...
79  3041_g                            N         N  GH13_3       N         1
80   363_g                            N         N     GT2       N         1
81  3511_g                            N         N   GH101       N         1
82   114_g                            N         N     GH4       N         1
83  3228_g                            N         N    GH20       N         1

[84 rows x 6 columns]

In [ ]:
def clean_label(element):
    indexes_removed = re.sub(r"\([0-9]+-[0-9]+\)","",element)
    return re.sub(r"_[0-9]+","",indexes_removed)

total = []
for row in df.values