In [7]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re

sns.set(color_codes=True)
sns.set(font_scale=True)
sns.set_color_codes()

In [8]:
df = pd.read_csv("../../milky_white_mushroom/results/cazymes/24-02-2021/db-braker-filtered.tsv",delimiter="\t")

In [10]:
df

      Gene ID          HMMER      Hotpep    DIAMOND  Signalp  #ofTools
0     10124_t  GT90(334-596)           N       GT90        N         2
1      1331_t  GT20(211-516)  GT20+CBM20       GT20        N         3
2      1365_t  GT1(948-1366)         GT1        GT1        N         3
3      2685_t    AA9(18-200)         AA9          N        N         2
4      4195_t   GH71(39-417)        GH71       GH71  Y(1-31)         3
..        ...            ...         ...        ...      ...       ...
338  g5400.t1              N        GH27  CBM1+GH27  Y(1-46)         2
339    4618_t              N         AA1      AA1_2        N         2
340  g6780.t1              N         GT2        GT2        N         2
341    5055_t              N        GT20       GT20        N         2
342  g8405.t1              N        GT31       GT31        N         2

[343 rows x 6 columns]

In [24]:
from collections import Counter
def clean_label(element):
    indexes_removed = re.sub(r"\([0-9]+-[0-9]+\)","",element)
    return re.sub(r"_[0-9]+","",indexes_removed)

total = []
for row in df.values:
    prediction1 = clean_label(row[1]).split('+')
    prediection2 = clean_label(row[3]).split('+')
    list(set(prediction1+prediection2))
    total += [s if "_" not in s else s.split("_")[0] for s in set(prediction1+prediection2) if s != "N"]
    
counts = Counter(total)

families = {}
for fam,count in counts.items():
    first = fam[:2]
    families[first] = families.get(first,0) + count
    
sum(value for value in counts.values())
#figure,axes = plt.subplots(nrows=1,ncols=1,figsize=(15,6))
#    
#s = pd.Series([e for e in total if 'CBM' not in e])
#s.value_counts().plot(ax=axes,kind="bar")
#plt.ylabel("Gene Count")
#plt.xlabel("Glycoside Hydrolase family")
#plt.yticks(range(1,7))
#plt.xticks(rotation=45)
#plt.savefig('GH-Counts.png',bbox_inches="tight")
#plt.show()

399